{% extends "material/base.html" %}

{% block content %}
<h1>HackerNews Feeder</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Score</th>
  </tr>
  {% for post in posts %}
    <tr>
      <td>{{ post.name | replace("[", "")|replace("]", "") | replace("'", "") }}</td>
      <td>{{ post.score[0] }}</td>
    </tr>
  {% endfor %}
</table>
<br><br><br><br><br><br><br><br><br><br><br><br>
<b>By Malachi Tatum, Keith Hickey, Andrew Heekin and Salil Doshi</b>

<pre> 
  _   _    _    ____ _  __    _  _____ _   _  ___  _   _ _____  ____  _   _ _     _____ 
 | | | |  / \  / ___| |/ /   / \|_   _| | | |/ _ \| \ | |__  / |  _ \| | | | |   | ____|
 | |_| | / _ \| |   | ' /   / _ \ | | | |_| | | | |  \| | / /  | |_) | | | | |   |  _|  
 |  _  |/ ___ \ |___| . \  / ___ \| | |  _  | |_| | |\  |/ /_  |  _ <| |_| | |___| |___ 
 |_| |_/_/   \_\____|_|\_\/_/   \_\_| |_| |_|\___/|_| \_/____| |_| \_\\___/|_____|_____|
</pre>

<br>
<br>
<br>
<br>
<br>
<br>
  
{% endblock %}
